# Compiled binaries
line_mode_server
char_mode_server
line_mode_binary_server
telnet_server_example

# Core dumps
core
core.*

# Object files
*.o
*.obj

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Editor and IDE files
*.swp
*.swo
*~
.vscode/
.idea/
